:root{
    --clr-background: #5b6979;
    --clr-main: #b8ac9a;
    --clr-accent: #473d2a;
    --clr-accent-secondary: #227393;

    --flow-gap: 1em;
    
}

/*-------*/
/* Reset */
/*-------*/

*, *::before, *::after{
    box-sizing: border-box;
}

h1, h2, p{
    margin: 0;
}


body{
    display: grid;
    place-items: center;
    height: 100dvh;
    margin: 0;
    background: var(--clr-background);
    color:#121a23;
    text-align: center;    
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

/*-----------*/
/* Modifiers */
/*-----------*/

.flex{
    display: flex;
    justify-content: flex-start;
}

.flex.column{
    flex-direction: column;
    gap: 0;
}

.flex.center{
    justify-content: center;
    align-items: center;
}

.flex.between{
    justify-content: space-between;
    align-items: start;
}

.flow > * {
    margin-top: var(--flow-gap);
}

.flow--lg > *  {
    margin-top: calc(var(--flow-gap) * 2);
}

.btn--pill{
    padding: .75em 1em;
    font-size: .8rem;
    cursor: pointer;
    border-radius: 60rem;
}

.btn--pill:hover{
    opacity: .75;
}

.btn--icon{
    display: flex;
    gap: .5rem;
}

/*--------*/
/* Custom */
/*--------*/

.container{
    background-image: url(resources/img/sale_banner.png);
    background-size: cover;
    padding: 8em;
}

.content{
    margin: 0 auto;
    max-width: 80%;
}

h1{
    max-width: 75%;
    margin: 0 auto;
    background: rgb(253,187,45);
    background: linear-gradient(180deg, rgba(253,187,45,1) 0%, rgba(193,145,65,1) 50%, rgba(131,81,26,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: .8rem;
    color: var(--clr-main);
}

.cta{
    background-color: var(--clr-accent);
    color: #fff;
    font-weight: 400;
}