:root{
    --clr-background: #1a7592;
    --clr-background-nav: #fff;
    --clr-cart-amount: #e45c4f;
    --clr-bg-input: #eff3f6;
    --clr-input: #c9cbd8;
    --clr-notification: #fcd6cf;
}

.body-content{
    --clr-background: #1a7592;
}

.container{
    width: 80%;
    container: container / inline-size;
}

.notification{
    padding: .25em;
    font-size: .85rem;
    background: var(--clr-notification);
}

.nav{
    background-color: var(--clr-background-nav);
    padding: 1em 2em;
    gap: var(--flex-gap);
    width: 100%;
}

.brand{
    font-size: 2rem;
    font-weight: 600;
}

.search{
    position: relative;

    & input{
        padding: .75em 1.25em .75em 3em;
        outline: none;
        border: none;
        border-radius: 100px;
        background-color: var(--clr-bg-input);
    }

    & input::placeholder{
        color: var(--clr-input);
    }

    & i{
        position: absolute;
        left: 1em;
        top: .75em;
    }
}

.nav-links{
    list-style: none;

    .nav-link a{
        text-decoration: none;
        color: #000;
        font-weight: 600;
    }

    .nav-link:hover a{
        opacity: .75;
    }
}

.cart{
    position: relative;
}

.cart:hover{
    cursor: pointer;
    opacity: .75;
}

.cart::before{
    position: absolute;
    content: '2';
    top: .25em;
    right: -1.25em;
    background-color: var(--clr-cart-amount);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding: .25rem;
    color: #fff;
}