:root{
    --nav-bg-main:#033139;
    --nav-clr-main: #fff;
}

nav{
    height: 100dvh;

    background-color: color-mix(in srgb, var(--clr-background) 100%, #000 15%);
    color: var(--clr-main);
    font-size: 1rem;
    text-wrap: nowrap;

    display: flex;
    flex-direction: column;
    align-items: start;
}

nav img{
    width: 80px;
    height: 80px;
}

nav ul{
    list-style: none;
    padding: 0;
    padding: .75em;
    margin:0 ;
    text-align: start;
}

nav ul li{
    margin-bottom: .5em;
}

nav ul li a{
    text-decoration: none;
    color: var(--nav-clr-text, #fff) ;
}

nav ul li a.active{
    opacity: .5;
}

nav ul li:hover a{
    opacity: .75;
}