:root{
    --clr-background: var(--clr-secondary);
    --clr-main: #fff;
    --nav-clr-text: var(--clr-main);
    --clr-secondary: #033139;
}

h1 , p {
    margin: 0;
}

.body-content{
    background-image: url(https://icodethis.com/images/iCodeMas/snow_bg.png);
    background-size: cover;
    align-content: center;
    justify-content: center;
    color:var(--clr-main);
    font-size: 2rem;
    text-align: center;    
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 6rem;
}

.hero p{
    font-family: 'Mountains of Christmas', serif;
}

.countdown{
    margin-top: 2em;;
    display: flex;
    justify-content: center;
    gap: .5em;
    color: var(--clr-secondary);
}

.time-card{
    padding: 1.5em .5em;
    width: 150px;
    background-color:var(--clr-main);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .number{
        margin-bottom: .5em;
        font-size: 4rem;
        font-weight: 700;
    }

    .text{
        font-size: 1rem;
        font-weight: 900;
    }
}